.panel-expanded {
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.panel-close {
  max-height: 0;
}

.list-item {
  text-align: left;
  padding: 10px 10px;
  cursor: pointer;
  transition-duration: 0.2s;
  color: aliceblue;
}

.list-item:nth-child(odd) {
  background: #1b1b1b;
}

.expanded-container {
  max-height: 0;
  overflow: hidden;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier();
}

.expanded-container > div {
  padding-top: 10px;
}

.expanded-container > div > span {
  font-weight: bold;
  color: aliceblue;
}

.expanded-show {
  max-height: 400px;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier();
}

.transaction-hash {
  color: #2196f3;
  font-weight: bold;
}

.list-item:hover {
  transform: scale(1.01);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier();
}

.list-item:active {
  transform: scale(1);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier();
}
