.panelExpanded {
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.panelClose {
  max-height: 0;
}

.listItem {
  text-align: left;
  padding: 10px 10px;
  cursor: pointer;
  transition-duration: 0.2s;
  color: aliceblue;
}

.listItem:nth-child(odd) {
  background: #1b1b1b;
}

.expandedContainer {
  max-height: 0;
  overflow: hidden;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier();
}

.expandedContainer > div {
  padding-top: 10px;
}

.expandedContainer > div > span {
  font-weight: bold;
  color: aliceblue;
}

.expandedShow {
  max-height: 400px;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier();
}

.transactionHash {
  color: #2196f3;
  font-weight: bold;
}

.listItem:hover {
  transform: scale(1.01);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier();
}

.listItem:active {
  transform: scale(1);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier();
}
