ul {
  max-height: 100%;
  overflow-y: scroll;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 2px solid #2196f3;
  font-size: 14px;
  font-family: Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
}

li {
  text-align: left;
  padding: 10px 10px;
  cursor: pointer;
  color:aliceblue

}

li:last-child {
  border-bottom: none;
}

li:nth-child(even) {
  background: #1b1b1b;
}
